/*
 *  header
 */

.content__header {
    // background-color: $main-color;
    width: 100%;
    color: $header-font-color;

    .header-inner {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        position: relative;

        .content__title {
            position: relative;
            top: 50%;
            font-size: 3.4rem;
        }

        .content__meta {
            margin-top: 10px;
        }
    }
}
