/*
 * components/main
 */

.main {
  @include media-pc
  {
    margin-left: $sidebar-size;
  }

  padding: 0 8px;

  &::before {
    content: '';
    width: 100%;
    height: 300px;
    background-color: $main-color;
    position: absolute;
    left: 0;
    top: 0;
  }

  .page-content {
    position: relative;
    max-width: 800px;
    margin: 8px auto;
  }
}
