/*
 *  floating action btn layout
 */

$floating-btn-normal: 56px;
$floating-btn-mini: 40px;

.floating-action-btn {
    display: block;
    width: $floating-btn-normal;
    height: $floating-btn-normal;
    line-height: $floating-btn-normal;
    border-radius: 50%;
    text-align: center;

    @include shadow(4);

    &:hover, &:focus {
      @include shadow(6);
    }

    &.main {
        background-color: $main-color;
        color: white;
    }

    &.sub {
        background-color: $accent-color;
        color: white;
    }

    i {
        line-height: $floating-btn-normal;
        font-size: 2.4rem;
    }

    &.mini {
        width: $floating-btn-mini;
        height: $floating-btn-mini;
        line-height: $floating-btn-mini;
        i {
            line-height: $floating-btn-mini;
            font-size: 2.4rem;
        }
    }

}
