//
// posted contents layout
//
.markdown {

    color: $text-color;

    line-height: 1.8;
    font-size: 1.8rem;
  
    @include media-sp {
      font-size: 1.6rem;
      line-height: 1.6;
    }

    /*
     * header
     */
    h1 {
        font-weight: bold;
        margin-top: 4.5rem;
        margin-bottom: 2.0rem;
        font-size: 3.5rem;

        @include media-sp {
          font-size: 3.0rem;
        }
    }

    h2 {
        margin-top: 30px;
        margin-bottom: 20px;
        border-bottom: 2px solid #eee;

        font-weight: bold;

        font-size: 2.6rem;
        @include media-sp {
          font-size: 2.4rem;
        }
    }

    h3 {
        margin-top: 20px;
        margin-bottom: 10px;
        padding-left: 7px;

        border-left: 3px solid $main-color;
    }

    h4, h5, h6 {
        margin-top: 4.5rem;
        margin-bottom: 0.5rem;
    }

    /*
     * paragraph
     */
    p {
        margin-top: 2.0rem;
        line-height: 3.0rem;
        
        @include media-sp {
          line-height: 2.5rem;
        }
    }

    /*
     * blockquote
     */
    blockquote {
      border-left: 5px solid #aaa;
      padding-top: 5px;
      padding-bottom: 5px;
      padding-left: 10px;
      background-color: #efefef;
      font-style: italic;
      margin-top: 2.0rem;
      font-size: 1.6rem;
      line-height: 2.0rem;

      p {
        margin-top: 0;
      }

    }

    /*
     * list
     */
    ul, ol {
        margin-top: 1.5rem;
        margin-bottom: 1.5rem;
    }

    li {
        list-style-type: none;
        position: relative;
        padding-left: 20px;

        &:before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            width: 8px;
            height: 8px;
            border-radius: 50%;
            background-color: $main-color;
            margin-top: -4px;
        }
    }

    /*
     * link
     */
    a {
        text-decoration: none;
        @include link-hover-animation;
    }

    /*
     * table 
     */
    table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        border-color: #555555;
        overflow: auto;
        margin: 30px auto;

        tr {
            background-color: white;
            border-top: 1px solid #ccc;
        }

        td, th {
            padding: 6px 13px;
            border: 1px solid #ccc;
        }

        th {
            font-weight: 700;
        }
    }

    /*
     * images
     */
    figure {
      max-width: 100%;
      margin: 50 auto;
      text-align: center;

      > figcaption {
        margin: 0 auto;

        * {
          text-align: center;
          font-size: 1.6rem;
        }
      }
    }

    img {
      max-width: 100%;
      @include shadow(4);
    }

    /*
     * code
     */
    pre {
        margin: 15px auto;
        padding: 1.2rem;
        font-size: 1.8rem;
        background-color: #f4f4f4;
        border-radius: 5px;
        overflow-x: auto;
        line-height: 1.5 !important;
    }
}
