/*
 * modules/post-header
 */

.post-header {
  color: white;
}

.post-header__title {
  font-size: 4.0rem;
  font-weight: 500;
}

.post-header__meta {
}

.post-header__data {}
.post-header__category {}
