/*
 * modules/post-header
 */

.post-header {
  color: white;
}

.post-header__title {
  @include media-pc {
    font-size: 4.0rem;
    font-weight: 500;
  }

  @include media-tb {
    font-size: 3.5rem;
    font-weight: 500;
  }

  @include media-sp {
    font-size: 2.8rem;
    font-weight: 500;
  }
}

.post-header__meta {
  margin-top: 10px;
}

.post-header__date {
}

.post-header__category {}
