$social-btn-close-size: 25px;
$social-btn-size: 48px;

.share-button {
  position: absolute;
  top: -28px; // NOTICE::floating-btn-normal / 2
  right: 60px;
  color: white;

  .share {
    z-index: 1;
    display: block;
    position: relative;
  }

  .social-btns {
    li{
      background-color: #686868;
      width: $social-btn-close-size;
      height: $social-btn-close-size;
      border-radius: 50%;
      text-align: center;
      line-height: $social-btn-size;

      margin: auto;

      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      bottom: 0;
    }

    &.open{
      $padding: -132px;

      li {
        transition: all 300ms 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: all 300ms 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        width: $social-btn-size;
        height: $social-btn-size;

        a {
          color: inherit;
        }

        &:hover {
          transition: all 600ms 0s ease;
          -webkit-transition: all 600ms 0s ease;
        }

        &.facebook {
          top: $padding;
          &:hover {
            background-color: #3b5999;
          }
        }
        &.pocket {
          right: $padding;
          &:hover {
            background-color: #ee4056;
          }
        }
        &.hatena {
          bottom: $padding;
          &:hover {
            background-color: #00a4de;
          }
        }
        &.twitter {
          left: $padding;
          &:hover {
            background-color: #55acee; // twitter color
          }
        }
      }
    }

    &.close {
      li {
        transition: all 300ms 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        -webkit-transition: all 300ms 0s cubic-bezier(0.68, -0.55, 0.265, 1.55);
      }
    }
  }

}
