/*
 *  header
 */
$header-bg-color: #555555;


.l-header {

  border-top: 3px solid $main-color;
  height: 55px;
  background-color: $header-bg-color;
  color: white;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 5px 0 rgba(0,0,0,.12);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 99;

  .logo{
    width: 200px;
    text-align: center;

    a {
        text-decoration: none;
        color: white;
        font-weight: 100;
        font-size: 2.5rem;
        line-height: 55px;
    }
  }
}

.content__header {
    // background-color: $main-color;
    width: 100%;
    color: $header-font-color;

    .header-inner {
        max-width: 800px;
        margin: 0 auto;
        padding: 30px;
        position: relative;

        .content__title {
            position: relative;
            top: 50%;
            font-size: 3.4rem;
        }

        .content__meta {
            margin-top: 10px;
        }
    }
}
