/*
 * layouts/main
 */

.l-main {
  @include media-pc
  {
    margin-left: $sidebar-size;
  }

  .l-post-header {
    padding: 24px;
    position: relative;

    .container {
        max-width: 900px;
    }

    &:before {
        content: "";
        display: block;
        background-color: $main-color;
        height: 250px;
        width: 100%;
        position: absolute;
        top: 0;
        left:0;
        z-index: -1;
    }
  }
}

.l-post {
    position: relative;
    max-width: 900px;
    margin: 8px auto;

    .l-share {
        position: absolute;
        top: -28px;
        right: 20px;
    }
}
