.l-post-item {
  margin: 8px;
  position: relative;

  img {
    transition: transform 0.5s, linear;
  }

  &:hover {
    img {
     transform: scale(1.2);
    }
  }

  .post-link {
    display: block;
    text-decoration: none;
    color: $text-color;
  }
}

.thumbnail-item {
  .post-thumbnail {
    width: 100%;
    height: 70%;
    overflow: hidden;
    position: relative;

    img {
      display: block;
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: center center;
    }
  }

  .post-description {
    width: 100%;
    height: 30%;  
    padding: 10px;

    position: absolute;
    bottom: 0;
  }

  .post-title {
    font-size: 1.5rem;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera9,10対応 */
  }
}


.post-meta {
  color: $text-pale-color;
  font-size: 1.4rem;
}



.no-thumbnail {
  background-color: white;
  padding: 16px;
  position: relative;
  width: 100%;
  height: 100%;

  overflow: hidden;

  .post-meta {
    padding-top: 8px;
  }

  .post-title {
    width: 100%;
    height: 4.8rem;
    font-size: 1.9rem;
    font-weight: bold;
    
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera9,10対応 */
  }

  .post-body {
    font-size: 1.4rem;
    padding-top: 16px;

    max-height: 70%;

    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis; /* Opera9,10対応 */
  }

  .readmore {
      position: absolute;
      bottom: 0;
      left: 0;

      width: 100%;
      height: 50%;

      $from: rgba(255,255,25,0);
      //$to: rgba(244,244,244,1);
      $to: rgba(244,244,244,1);
      
      background: -webkit-linear-gradient(top, $from 0%, $to 65%);
      background: -moz-linear-gradient(top, $from 0%, $to 65%);
      background: -o-linear-gradient(top, $from 0%, $to 65%);
      background: -ms-linear-gradient(top, $from 0%, $to 65%);
      background: linear-gradient(to bottom, $from 0%, $to 65%);

      &:after {
        content: "続きを読む";

        text-align: center;
        position: absolute;
        bottom: 15;
        left: 0;
        right: 0;
      }
  }
}
