{{ partial "_header.html" . }}
<!-- {{ partial "_sidebar.html" . }} -->
<div class="l-main">
  <div class="l-post-header post-header">
    <div class="container">
      <h1 class="post-header__title">{{ .Title }}</h1>
      <p class="post-header__meta">
        <span class="posts-header__date">{{ .Date }}</span>
        <span class="posts-header__category">
          <a href="category-url">category</a>
        </span>
      </p>
    </div>
  </div>
  <div class="l-post card">
    <div class="l-share share-button">
      <a class="share floating-action-btn sub" href="">
        <i class="material-icons">share</i>
      </a>
      <ul class="social-btns">
        <li class="floating-action-btn twitter">
          <a data-url="{{ .Permalink }}">t</a>
        </li>
        <li class="floating-action-btn facebook">
          <a data-url="{{ .Permalink }}">f</a>
        </li>
        <li class="floating-action-btn hatena">
          <a data-url="{{ .Permalink }}">B!</a>
        </li>
        <li class="floating-action-btn pocket">
          <a data-url="{{ .Permalink }}">P</a>
        </li>
      </ul>
    </div>

    <article class="post markdown">
      {{ .Content }}
    </article>
  </div>
  <!-- </div> -->
</div>
{{ partial "_footer.html" . }}
