{{ partial "_header.html" . }}
{{ partial "_sidebar.html" . }}
<div class="main">
  <div class="content__header">
    <div class="header-inner">
      <h1 class="content__title">{{ .Title }}</h1>
      <p class="content__meta">
        <span class="content__date">{{ .Date }}</span>
        <span class="content__category">
          <a href="category-url">category</a>
        </span>
      </p>
    </div>
  </div>
  <!-- <div class="page-content-wrap"> -->
  <div class="card page-content">
    <div class="share-button">
      <a class="share floating-action-btn sub" href="">
        <i class="material-icons">share</i>
      </a>
      <ul class="social-btns">
        <li class="floating-action-btn twitter">
          <a data-url="{{ .Permalink }}">t</a>
        </li>
        <li class="floating-action-btn facebook">
          <a data-url="{{ .Permalink }}">f</a>
        </li>
        <li class="floating-action-btn hatena">
          <a data-url="{{ .Permalink }}">B!</a>
        </li>
        <li class="floating-action-btn pocket">
          <a data-url="{{ .Permalink }}">P</a>
        </li>
      </ul>
    </div>

    <article class="post">
      {{ .Content }}
    </article>
  </div>
  <!-- </div> -->
</div>
{{ partial "_footer.html" . }}
