{{ partial "_header.html" . }}
<div class="l-main">
  <div class="l-post-header post-header">
    <div class="container">
      <h1 class="post-header__title">{{ .Title }}</h1>
      <p class="post-header__meta">
        <span class="posts-header__date">{{ .Date.Format "2006年1月2日" }}</span>

        {{ with .Params.categories }}
        <span class="posts-header__category">
            {{ range . }}
            <a href="/categories/{{ . }}">{{ . }}</a>
            {{ end }}
        </span>
        {{ end }}

        {{ with .Params.tags }}
        <ul class="post-header__tag tag-list">
          {{ range . }}
          <li><a class="chips" href="/tags/{{ . }}/">{{ . }}</a></li>
          {{ end }}
        </ul>
        {{ end }}
      </p>
    </div>
  </div>
  <div class="l-post card">
    <div class="l-share share-button">
      <a class="share floating-action-btn sub" href="">
        <i class="material-icons">share</i>
      </a>
      <ul class="social-btns">
        <li class="floating-action-btn twitter">
          <a data-url="{{ .Permalink }}" data-service="twitter" class="icon-twitter"></a>
        </li>
        <li class="floating-action-btn facebook">
          <a data-url="{{ .Permalink }}" data-service="facebook" class="icon-facebook"></a>
        </li>
        <li class="floating-action-btn hatena">
          <a data-url="{{ .Permalink }}" data-service="hatebu" class="icon-hatebu"></a>
        </li>
        <li class="floating-action-btn pocket">
          <a data-url="{{ .Permalink }}" data-service="pocket" class="icon-pocket"></a>
        </li>
      </ul>
    </div>

    <article class="post markdown">
      {{ .Content }}
    </article>
  </div>
  <!-- </div> -->
</div>
{{ partial "_footer.html" . }}
