<!DOCTYPE>
{{ with .Site.LanguageCode }}<html lang="{{ . }}">{{ else }}<html>{{ end }}
<head>
  <meta charset="utf-8">
  {{ partial "_seo_schema" . }}
  <title>{{ .Title }}</title>
  <meta property="og:url" content="{{ .Permalink }}">
  <meta property="og:title" content="{{ .Title }}">
  <meta property="og:type" content="{{ if .IsPage }}article{{ else }}website{{ end }}">
  <meta property="og:description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta property="og:image" content="{{ .Site.BaseURL }}images/{{ if .Params.eyecatch }}{{ .Params.eyecatch }}{{ else }}eyecatch.png{{ end }}">
  <meta property="og:site_name" content="{{ .Site.Title }}">
  <meta property="og:locale" content="ja_JP">
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="{{ .Permalink }}">
  <meta name="twitter:site" content="@kz_morita">
  <meta name="twitter:creator" content="@kz_morita">
  <meta name="twitter:title" content="{{ .Title }}">
  <meta property="fb:app_id" content="360161941483931">
  <meta name="description" content="{{ if .IsPage }}{{ .Summary }}{{ else }}{{ .Site.Params.description }}{{ end }}">
  <meta name="author" content="{{ .Site.Params.author }}">
  <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <script type="text/javascript" src="/javascripts/preload.bundle.js" charset="utf-8"></script>
  <link rel="manifest" href="/manifest.json" />
</head>
<body>
  <header class="l-header">
    <h1 class="title"><a href="{{ .Site.BaseURL }}"><img src="/images/logo/logo-white.png" class="logo" width="40" />{{ .Site.Title }}</a></h1>
  </header>
