<div id="sidebar" class="sidebar fixed__drawer">
  <div class="site-logo"><img src="/images/profile.jpg" width="70" height="70"></div>
  <h1 class="site-header"><a href="{{ .Site.BaseURL }}"> {{ .Site.Title }}</a></h1>
  <h2 class="site-description">{{ .Site.Params.description }}</h2>
  <ul>
      <li><a class="ripple" href=""><span class="ripple-inner">Home</span></a></li>
      <li><a class="ripple" href=""><span class="ripple-inner">Categories</span></a></li>
      <li><a class="ripple" href=""><span class="ripple-inner">About me</span></a></li>
  </ul>
</div>
