{{ partial "_header.html" . }}

<div class="l-main">
  <div class="l-site-header">
    <div class="l-site-header-inner">
      <img src="/images/logo/logo-white.png" width="100" class="logo" /> 
      <h1 class="site-title">{{ .Site.Title }}</h1>
      <div class="site-description">{{ .Site.Params.description }}</div>
    </div>
  </div>

  <article>
    <ul class="l-box-wrap container col3">
      {{ $pages := (where (where .Site.Pages "Section" "posts") ".IsPage" true) }}
      {{ $paginator := .Paginate $pages 24 }}
      {{ range $paginator.Pages }}
        <li class="l-box">{{ partial "_list-item.html" . }}</li>
      {{ end }}
    </ul>
  </article>
  {{ partial "_paginator.html" . }}
</div>
{{ partial "_footer.html" . }}
