{{ partial "_header.html" . }}
    <header class="content__header">
        <h1 class="content__title">{{ .Title }}</h1>
        <p class="content__meta">
            <time class="content__date">
                2016/6/1
            </time>
            <span class="content__category">
                <a href="category-url">category</a>
            </span>
        </p>
    </header>
    <div class="main">
        <div class="page-content">
        </div>
    </div>
{{ partial "_sidebar.html" . }}
{{ partial "_footer.html" . }}
