@import 'reset';;
@import 'color';
@import 'font';

html {
  min-height: 100%;
  position: relative;
}

body {
    background-color: $background-color;
    color: $text-color;
    box-sizing: border-box;

    -webkit-text-size-adjust: 100%;


    margin-bottom: 120px; // footer-size + 20px

    * {
        box-sizing: inherit;
    }
}

a {
  // スマホのタップ次のハイライトを無効
  -webkit-tap-highlight-color:rgba(0,0,0,0)
}

.container {
    margin: 0 auto;
}

