//$main-color: #00c1b1;
//$main-color: #60b9aa;
$main-color: #60b5b9; // これいい
$main-color: #00b8d4; // これもいいぞ
$main-color: #00bcd4;
$main-color: #26c6da;
//$main-color: #4dd0e1;
$main-color: #61c0ca;

/*$sub-color: #263238;*/
$sub-color: #ff4081;
$sub-color: #E57373; // いいぞ
$sub-color: #FF5252;
$sub-color: #ff6e5c;
$sub-color: #fd614e;

$background-color: #f4f4f4;
$box-color: #ffffff;

$text-color: #505050;
$header-font-color: #ffffff;
$link-color: $sub-color;

/* sidebar */
$sidebar-color: $background-color;
$sidebar-link-hover-color: #e4e4e4;
$sidebar-link-ripple-color: #d4d4d4;
