$main-color: #20d2c9;
$sub-color: #263238;
$background-color: #f4f4f4;
$box-color: #ffffff;

$text-color: #505050;
$header-font-color: #ffffff;
$link-color: #ff4081;

/* sidebar */
$sidebar-color: $background-color;
$sidebar-link-hover-color: #d4d4d4;
